<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Exercise Tracker</title>
</head>
<body>
    <div>
        <h1>Exercise Tracker</h1>
        <form action="#" th:action="@{/api/exercise/new-user}" th:object="${user}" method="post">
            <h3>Create a New User</h3>
            <input type="text" th:field="*{username}" /><br />
            <input type="submit" value="Submit" />
        </form>
        <form action="#" th:action="@{/api/exercise/add}" th:object="${exercise}" method="post">
            <h3>Add an Exercise</h3>
            <input type="text" th:field="*{username}" /><br />
            <input type="text" th:field="*{description}" /><br />
            <input type="text" th:field="*{duration}" /><br />
            <input type="text" th:field="*{date}" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>